services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - ./data:/app/data
    command: npm run dev

volumes:
  node_modules:
